.header{
    margin-left:0;
    gap: 10px;
   
}
.navbar{
    width: 200px;
    height: 445px;
    background-color: rgb(201, 212, 212);
    margin-top: 0%;
    display: flex;
    flex-flow: column;
}
.main{
    gap: 10px;
    display: flex;
    flex-flow: row;
}